:root {
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
    --light-grey-color: #f5f5f5;
    --gold-color: #ffb944;
}


body,html{
    scroll-behavior: auto;
    scroll-behavior: smooth;
    margin-top: 45px;
}

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
}

.bgDark { background-color: var(--dark-color); }
.bgLight { background-color: var(--white-color); }
.bgLightGrey { background-color: var(--light-grey-color); }



h1, h2, h3, h4, h5, h6, p, li{
    cursor: default;
}


/* navbar y cabecera */
.btn-portada1{
    position: absolute;
    top: 70%;
    left: 39%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada1:hover{
    background-color: #fff;
    color: #000;
}


.btn-portada2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada2:hover{
    background-color: #fff;
    color: #000;
}

.btn-portada3{
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada3:hover{
    background-color: #fff;
    color: #000;
}


.btn-portada4{
    position: absolute;
    top: 75%;
    left: 72%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada4:hover{
    background-color: #fff;
    color: #000;
}


.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


 
/* video */
.container-video{
    background-image: url(/assets/images/portada-video.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
}

.btn-play-video{
    position: relative;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    border-radius: 150px;
    color: #fff;
}

.btn-play-video:hover{
    color: rgb(0, 0, 0);
    background: #fff;
}

/* Nombre paquetes  */
 
.divider { 
    margin-top: 50px;
    border-bottom: 2px 
    solid var(--light-grey-color); 
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}


/* paquetes */
.seccion-paquetes{
    padding: 50px;
}

.card{
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}
.card:hover{
    -webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
}

.precio{
    font-size: 25px;
    font-weight: bold;
    color: #FFB300;
}

.btn-solicitar{
    border: 1px solid #FFB300;
    border-radius: 100px;
    color: #000;
    background-color: #fff;
    transition: 0.5s;
    padding: 10px;
}

.btn-solicitar:hover{
    background-color: #FFB300;
    color: #fff;
}

/* Testimonios */

 

.carousel-item p {
    font-size: 26px;
    font-weight: 400;
    color: var(--dark-color);
}

 

.carousel-control-next, .carousel-control-prev { 
    color: var(--white-color);
    opacity: 1;
    width: 5%;
}

.control-button {
    background-color: var(--dark-color);
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-size: 20px;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}

.testimonial-user h6 {
    margin-bottom: 0px;
}

.testimonial-user span {
    font-size: 12px;
}

.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: center;
}

.rating i {
    color: var(--gold-color);
    font-size: 26px;
}



/* Contacto */
.seccion-contacto{
    padding: 150px;
}
.btn-contacto{
    border: 1px solid #FFB300;
    border-radius: 100px;
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}

.btn-contacto:hover{
    background-color: #FFB300;
    color: #fff;
}


/* footer */

 
footer {
    padding: 80px 0;
    text-align: center;
    color: var(--white-color);
}

footer a {
    color: var(--white-color);
}

footer a:hover {
    color: var(--white-color);
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}
