:root {
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
    --light-grey-color: #f5f5f5;
    --gold-color: #ffb944;
}


body,html{
    scroll-behavior: auto;
    scroll-behavior: smooth;
    margin-top: 45px;
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


body, html{
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
    background:  #ffb944;
    
}
  

  

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;

}

.bgDark { background-color: var(--dark-color); }
.bgLight { background-color: var(--white-color); }
.bgLightGrey { background-color: var(--light-grey-color); }



h1, h2, h3, h4, h5, h6, p, li{
    cursor: default;
}


/* navbar y cabecera */

.carousel {
 
    text-align: center;
}

.btn-portada1{
    position: absolute;
    top: 70%;
    left: 39%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada1:hover{
    background-color: #fff;
    color: #000;
}


.btn-portada2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada2:hover{
    background-color: #fff;
    color: #000;
}

.btn-portada3{
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada3:hover{
    background-color: #fff;
    color: #000;
}


.btn-portada4{
    position: absolute;
    top: 75%;
    left: 72%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada4:hover{
    background-color: #fff;
    color: #000;
}


.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


 
/* video */
.container-video{
    background-image: url(/assets/images/portada-video.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
}

.btn-play-video{
    position: relative;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    border-radius: 150px;
    color: #fff;
}

.btn-play-video:hover{
    color: rgb(0, 0, 0);
    background: #fff;
}


.video-comercial{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

video{
    width: 100%;
}

.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
}

span{
    font-size: 18px;
    font-weight: lighter;
}

.titulo-video{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.575);
}



/* fotos */
 
.div-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img{
    border-radius: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
    transform:scale(1);
    -ms-transform:scale(1); 
    -moz-transform:scale(1); 
    -webkit-transform:scale(1); 
    -o-transform:scale(1); 
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out; 
    -ms-transition: all 300ms ease-in-out; 
    -o-transition: all 300ms ease-in-out;  
    cursor: pointer;
}

.img:hover{
        transform:scale(1.1);
        -ms-transform:scale(1.1); 
        -moz-transform:scale(1.1); 
        -webkit-transform:scale(1.1); 
        -o-transform:scale(1.1); 
        -webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
}

.hidden{
    overflow: hidden;
}


.swiper-container {

    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.container-imagenes-swiper{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
}



 

/* Nombre paquetes  */
 
.divider { 
    margin-top: 50px;
    border-bottom: 2px 
    solid var(--light-grey-color); 
    margin-top: 100px;

}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.margen{

}

/* paquetes */
.seccion-paquetes{
    padding: 50px;
}

.card{
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}
.card:hover{
    -webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
}

.precio{
    font-size: 25px;
    font-weight: bold;
    color: #FFB300;
}

.btn-solicitar{
    border: 1px solid #FFB300;
    border-radius: 100px;
    color: #000;
    background-color: #fff;
    transition: 0.5s;
    padding: 10px;
}

.btn-solicitar:hover{
    background-color: #FFB300;
    color: #fff;
}


@font-face {
    font-family: hello;
    src: url(/assets/fonts/Hello.otf);
}

.titulo-paquete{
    font-family: hello, serif;
}



/* quienes somos */
.circulo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #FFB300;
    -webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

.iconos-quienesosmos{
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
}

.icono-m{
    margin-top: 35px;
    font-size: 30px;
    color: #fff;
}



/* Testimonios */

.carousel-item p {
    font-size: 26px;
    font-weight: 400;
    color: var(--dark-color);
}

 

.carousel-control-next, .carousel-control-prev { 
    color: var(--white-color);
    opacity: 1;
    width: 5%;
}

.control-button {
    background-color: var(--dark-color);
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-size: 20px;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}

.testimonial-user h6 {
    margin-bottom: 0px;
}

.testimonial-user span {
    font-size: 12px;
}

.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: center;
}

.rating i {
    color: var(--gold-color);
    font-size: 26px;
}



/* Contacto */
.seccion-contacto{
    padding-top: 100px;
    padding-bottom: 100px;
}
.btn-contacto{
    border: 1px solid #FFB300;
    border-radius: 100px;
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}

.btn-contacto:hover{
    background-color: #FFB300;
    color: #fff;
}


/* footer */

 
footer {
    padding: 80px 0;
    text-align: center;
    color: var(--white-color);
}

footer a {
    color: var(--white-color);
}

footer a:hover {
    color: var(--white-color);
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}






/* equipo  */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
 

 
 
 


/* services section styling */
.teams{
    padding: 50px;
    background: rgb(255, 255, 255);
}

 
 

/* teams section styling */
 
.teams .carousel-equipo .card-team{
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    border: 3px solid #ffb30054;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel-equipo .card-team:hover{
    background: #FFB300;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
}
.teams .carousel-equipo .card-team .box-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel-equipo .card-team:hover .box-team{
    transform: scale(1.05);
}
.teams .carousel-equipo .card-team .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: rgb(46, 46, 46);
}
.teams .carousel-equipo .card-team img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #FFB300;
    transition: all 0.3s ease;
}
.teams .carousel-equipo .card-team:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid  #FFB300!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #FFB300!important;
}
 


/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}
 

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
}


@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
   
}

 



