*{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    cursor: default;
}


/* navbar y cabecera */
.btn-portada1{
    position: absolute;
    top: 70%;
    left: 39%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada1:hover{
    background-color: #fff;
    color: #000;
}


.btn-portada2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.btn-portada2:hover{
    background-color: #fff;
    color: #000;
}


.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


 
/* video */
.container-video{
    background-image: url(/assets/images/portada-video.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
}

.btn-play-video{
    position: relative;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    border-radius: 150px;
    color: #fff;
}

.btn-play-video:hover{
    color: rgb(0, 0, 0);
    background: #fff;
}


/* paquetes */
.seccion-paquetes{
    padding: 100px;
}

